<div class="full-width">
  <section>
    <img class="lazyload small--hide"
         src="{{ section.settings.desk_image | img_url: 'master' }}"
         data-src="{{ section.settings.desk_image | img_url:"master" }}"
         data-sizes="auto"
         alt="" />
    <img class="lazyload medium-up--hide"
         src="{{ section.settings.mob_image | img_url: 'master' }}"
         data-src="{{ section.settings.mob_image | img_url:"master" }}"
         data-sizes="auto"
         alt="" />
    <div class="content">
      <div class="page-width">
        {% if section.settings.sub_title != blank %}
        <p>{{ section.settings.sub_title }}</p>
        {% endif %}
        {% if section.settings.title != blank %}
        <h2>{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn-secondary">
          {{ section.settings.button_label }}
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" class="icon-arrow" viewBox="0 0 11 18"><defs><style>.ri-arr-a,.ri-arr-b{fill:#fff;}.ri-arr-a{opacity:0;}</style></defs><g transform="translate(-179 -2964)"><rect class="ri-arr-a" width="11" height="18" transform="translate(179 2964)"/><g transform="translate(7012.014 1729.938)"><path class="ri-arr-b" d="M471.808,1701.186a.916.916,0,0,1-.648-1.565l4.372-4.374-4.372-4.373a.917.917,0,1,1,1.3-1.3l5.022,5.022a.919.919,0,0,1,0,1.3l-5.022,5.022A.921.921,0,0,1,471.808,1701.186Z" transform="translate(-7301.116 -451.686)"/></g></g></svg>
        </a>
        {% endif %}
      </div>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Get help",
	"class": "index-section get-help",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Get help"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle",
        "default": "Subtitle"
      },
	  {
        "type": "image_picker",
        "id": "desk_image",
		"label": "Desktop image",
		"info": "Recommended image: 1280px * 378px"
      },
	  {
        "type": "image_picker",
        "id": "mob_image",
		"label": "Mobile image",
		"info": "Recommended image: 375px * 233px"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
	],
    "presets": [
      {
        "name": "Get help",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
