{% if iwish_v2 == 'iwishlink' %}
	<a class="iWishView" href="/apps/iwish">Wishlist (<span class="iWishCount">0</span>)</a>
{% elsif iwish_v2 == 'iwishproduct' %}
<div class="iwishAddWrap">
	<a class="iWishAdd" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">Add to Wishlist</a>
	{% unless customer %}<p class="iWishLoginMsg" style="display: none;">Your wishlist has been temporarily saved. Please <a href="/account/login">Log in</a> to save it permanently.</p>{% endunless %}
</div>
{% elsif iwish_v2 == 'iwishCollection' %}
	<a class="iWishAddColl iwishcheck" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">Add to Wishlist</a>
{% elsif iwish_v2 == 'iwishfooter' %}
<script type="text/javascript">
var iwish_shop = "{{ shop.permanent_domain }}";
var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
var iwish_cid = "{{ customer.id }}";
//Add to Wishlist - Product Page Text
var iwish_added_txt = 'Added in Wishlist';
var iwish_add_txt = 'Add to Wishlist';
//Add to Wishlist - Collection Page Text
var iwish_added_txt_col = 'Added in Wishlist';
var iwish_add_txt_col = 'Add to Wishlist';
//Quick View - Classes
//var iwish_qvButton = '.quick_view';
//var iwish_qvWrapper = '.reveal-modal';
</script>
<script type="text/javascript">
(function(){
function iWishLoadScript(e,t){for(var a=0;a<e.length;a++){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=e[a],document.getElementsByTagName("head")[0].appendChild(n),0==a&&(n.readyState?n.onreadystatechange=function(){"loaded"!==n.readyState&&"complete"!==n.readyState||(n.onreadystatechange=null,t())}:n.onload=function(){t()})}}
function asyncLoadshopapps(){
	var iWishUrls=["https://cdn.myshopapps.com/iwish/iwishlist_v2.js"];
	iWishLoadScript(iWishUrls, function() {
		jQuery("a[href='/apps/iwish']").click(function(e) {
		if(typeof(Storage) !== "undefined") {
			e.preventDefault();
			iWishPost('/apps/iwish',{iwishlist:JSON.stringify(iWishlistmain),cId:iwish_cid});
		}
		});
		jQuery(".iWishAdd").click(function() {
			var iWishvId = jQuery(this).parents(iwishWrapperClass).find(iWishVarSelector).val();
			iwish_add(jQuery(this), iWishvId);
			return false;
		});
		jQuery(".iWishAddColl").click(function() {
			var iWishvId = jQuery(this).attr("data-variant");
			iwish_addCollection(jQuery(this),iWishvId);
			return false;
		});
	});
}
if (window.addEventListener){ window.addEventListener("load", asyncLoadshopapps, true); }
else if (window.attachEvent){ window.attachEvent("onload", asyncLoadshopapps); }
else { window.onload = asyncLoadshopapps; }
})();
</script>
{% endif %}
